.SocialShare {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &-Provider {
        margin-right: 10px;
    }
}

.CategoryPage {
    &-LayoutButtons {
        margin-bottom: 10px;
        min-width: 100px;
    }

    &-Miscellaneous {
        grid-template-columns: unset;
    }
}
